<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/gdgl.css">
</head>
<body>
	<div class="box">
		<div class="left">
			<a href="" class="logo"><img src="../static/img/logo_1.png"></a>
			<div class="menuDiv menuDiv_1">
				<b></b>
				<div class="menuDiv_1_div">
					<p><img src="../static/img/gdgl.png" id="menuDiv_1_img"><b></b></p>
					<span class="menuDiv_2_span">工单管理</span>
				</div>
			</div>
			<div class="menuDiv menuDiv_2">
				<b></b>
				<span class="menuDiv_2_span">创建工单</span>
			</div>
		</div>
		<div class="right">
			<div class="top">
				<span class="signOut">退出</span>
				<span class="myName">测试测试</span>
				<img src="../static/img/default.jpg" class="myNamePic">
				<div class="bell">
					<span>12</span>
				</div>
				<span class="welcome">欢迎登录中策云 高速救援客服平台</span>
			</div>
			<div class="contentBox">
				<div class="content">
					<div class="content_1">
						<p class="contentTit">
							<b>工单管理</b>
						</p>
						<div class="contentInfo">
							<ul class="contentInfoList">
								<li>
									<span>地区</span>
									<select>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
									</select>
								</li>

								<li>
									<span>工作状态</span>
									<select>
										<option>待服务</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
										<option>乌鲁木齐1</option>
									</select>
								</li>

								<li>
									<span>故障车司机电话</span>
									<input type="text">
								</li>
							</ul>

							<div class="contentInfoBut">
								<a href="" class="green_1"><b></b>添加</a>
								<a href="" class="white_1"><b></b>导出</a>
								<a href="" class="blue_1"><b></b>搜索</a>
							</div>
						</div>
						<div class="contentTableBox">
							<ul class="contentTable">
								<li class="contentTableLi">
									<span class="w47">序号</span>
									<span class="w161">工单编号</span>
									<span class="w147">工单时间</span>
									<span class="w129">故障维修区域</span>
									<span class="w136">事故车车牌号</span>
									<span class="w115">事故车司机</span>
									<span class="w150">事故车司机电话</span>
									<span class="w114">名称/车牌</span>
									<span class="w147">服务区（车）联系人</span>
									<span class="w77">客服</span>
									<span class="w83">订单来源</span>
									<span class="w91">工单状态</span>
									<span class="w84">操作</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">1</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorGreen">待服务</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">2</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorPink">待审核</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">3</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorBule_2">已完成</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">4</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorGreen">待服务</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">5</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorPink">待审核</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">6</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorBule_2">已完成</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">7</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorGreen">待服务</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">8</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorPink">待审核</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>

								<li class="contentTableLi">
									<span class="w47">9</span>
									<span class="w161">20161015878878</span>
									<span class="w147">2016-10-20 9:30</span>
									<span class="w129">乌鲁木齐</span>
									<span class="w136">乌A154879</span>
									<span class="w115">李小璐</span>
									<span class="w150">13898794562</span>
									<span class="w114">乌A154879</span>
									<span class="w147">王李波</span>
									<span class="w77">李晓红</span>
									<span class="w83">中策</span>
									<span class="w91 fontColorBule_2">已完成</span>
									<span class="w84 fontColorBule_1">取消</span>
								</li>
							</ul>
						</div>

						<div class="page">
							<a href="" class="pre but_1">上一页</a>
							<a href="" class="num but_1">1</a>
							<a href="" class="num but_1">2</a>
							<a href="" class="num but_1">3</a>
							<span>···</span>
							<a href="" class="num but_1">119</a>
							<a href="" class="num but_2">120</a>
							<span>共120页</span>
							<span>到第</span>
							<input type="text" placeholder="120">
							<span>页</span>
							<a href="" class="pre but_2">确定</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../static/js/libs/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		function imgCenter()
		{
			var imgMargin=($('#menuDiv_1_img').parent().width()-47)/2;
			$('#menuDiv_1_img').css('margin-left',imgMargin);
		}
		imgCenter();
		$(window).on('resize scroll',function(){
			imgCenter();
		});

		$('.menuDiv').click(function(){
			$(this).children('b').addClass('menuLine');
			$(this).siblings().children('b').removeClass('menuLine')
		});

		$('.contentInfoList li:first-child').find('span').css('margin-left','0');
		$('.contentInfoBut a:first-child').css('margin-right','0');
		$('.contentTable li:first-child').css('color','#6dadff');
		$('.contentTit b:last').css('border-bottom','2px #3e91fc solid');
	})
</script>
</html>